@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./variables.css";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* garante que o conteúdo principal não fique escondido atrás do header */
body {
  scroll-padding-top: 120px; /* 🔹 cria espaço de rolagem para ancoragem */
  background: linear-gradient(
      to bottom right,
      rgba(241, 134, 56, 0.75),
      /* 🔸 Laranja mais forte */ rgba(13, 81, 148, 0.25)
        /* 🔹 Azul mais suave */
    ),
    url("../assets/fundo.png");
  background-repeat: no-repeat; /* sem repetição */
  background-size: cover; /* cobre todo o header */
  background-position: center; /* centraliza a imagem */
  z-index: 0; /* pseudo-elemento atrás de tudo */
  line-height: 1.8;
}

main {
  margin-top: 40px; /* 🔹 empurra o conteúdo abaixo do header fixo */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

a:hover {
  color: var(--color-secondary);
}

/* Botões padrão */
button {
  font-family: var(--font-main);
  background: var(--color-primary);
  color: var(--color-light);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

button:hover {
  background: var(--color-secondary);
}

p {
  font-size: 1.5rem;
}

h1{
  font-size: 3rem;
}

h2,
h3 {
  font-size: 2rem;
  line-height: 1.4;
}

h4{
  font-size: 1.5rem;
  line-height: 1.1;
}

li {
  font-size: 1.5rem;
}
