/* src/styles/Mobilizacao.module.css */
.mobilizacao {
  font-weight: 800;
  letter-spacing: 1px;
  /* herda o font-size do pai */
}

.primary {
  color: var(--color-dark); /* azul */
}

.secondary {
  color: #b35900; /* laranja escuro com maior contraste */
  font-weight: 600; /* deixa o texto mais grosso */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* contraste sutil */
  text-transform: uppercase; /* mantém letras minúsculas para melhor leitura */
  line-height: 1.5; /* mais espaçamento vertical */
}
